<font size="+1">In this notbook I'll be cleaning the data and save it as a CSV file to use it later.

<font size="+1">This data was collected in 2014, a dollar cost 19 pesos.

In [3]:
# libraries
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [5]:
df1=pd.read_excel(r"data\Mexico-real-estate-1.xlsx")
nRows, nCols = df1.shape

print(f"There are {nRows} rows and {nCols} columns.")
print(df1.info()) #looking at df1 datatypes for all the columns.
df1.head()

There are 700 rows and 7 columns.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     700 non-null    int64
 1   property_type  700 non-null    object
 2   state          700 non-null    object
 3   lat            583 non-null    float64
 4   lon            583 non-null    float64
 5   area_m2        700 non-null    float64
 6   price_usd      700 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 38.4+ KB
None

,Unnamed: 0,property_type,state,lat,lon,area_m2,price_usd
0,1,house,Estado de México,19.560181,-99.233528,150.0,"$67,965.56"
1,2,house,Nuevo León,25.688436,-100.198807,186.0,"$63,223.78"
2,3,apartment,Guerrero,16.767704,-99.764383,82.0,"$84,298.37"
3,4,apartment,Guerrero,16.829782,-99.911012,150.0,"$94,308.80"
4,5,house,Veracruz de Ignacio de la Llave,NaN,NaN,175.0,"$94,835.67"

The dataset has 16% missing data from lat and lon columns.

In [ ]:
# dropping nan values
df1.dropna(inplace=True)

# dropping unnamed column which is not necessary.
df1.drop(columns="Unnamed: 0", inplace=True)

### price_usd

In [ ]:
# removing the unnecessary characters and changing the column data type
df1.price_usd=df1.price_usd.str.replace("$", "").str.replace(",", "").astype(float)

In [ ]:
df2=pd.read_excel(r"data\Mexico-real-estate-2.xlsx")

nRows, nCols = df2.shape

print(f"There are {nRows} rows and {nCols} columns.")
print(df2.info()) #looking at df1 datatypes for all the columns.
df2.head()

In [ ]:
# dropping nan values
df2.dropna(inplace=True)

### price_mxn

In [ ]:
# converting 'price_mxn' columns from mxn to usd currency as per other dataframe and assging the result to a new column.
df2["price_usd"]=df2.price_mxn/19

In [ ]:
#converting mxn currency to to usd currency.
df2.drop(columns=["price_mxn", "Unnamed: 0"], inplace=True)

## DF3

In [ ]:
df3=pd.read_excel(r"data\Mexico-real-estate-3.xlsx")
nRows, nCols = df3.shape

print(f"There are {nRows} rows and {nCols} columns.")
print(df3.info()) #looking at df1 datatypes for all the columns.
df3.head()

In [ ]:
# dropping nan values.
df3.dropna(inplace=True)

### lat-lon

In [ ]:
# splitting lat-lon to get 2 columns.
df3[["lat","lon"]]=df3["lat-lon"].str.split(",", expand=True)

### place_with_parent_names

In [ ]:
# spliting 'place_with_parent_names' to extract the district column.
df3["state"]=df3.place_with_parent_names.str.split("|", expand=True)[2]

In [ ]:
# dropping duplicate columns
df3.drop(columns=["lat-lon","place_with_parent_names","Unnamed: 0"], inplace=True)

## Concatenate

In [ ]:
df=pd.concat([df1, df2, df3])
df

## Save to CSV